.productsTitle{
    text-align: left;
    padding: 30px 0px 0px 55px;
    font-size: 52px;
    color: rgb(240, 240, 240);
    position: relative;
    top: 30px;
    letter-spacing: 0px;
    font-family: 'neueHaasMedium';
}


.mainContainer{
    display: flex;
    flex-wrap: wrap; 
    margin: 0px 0px 0px 0px;
}
